$e7-primary: #bd282d;
$e7-accent: #bd6e28;

$neutral-color: #1f1f1f;
$neutral-variant-color: #28292a;
$e7-text: #dee2e6;

$primary-dark: #17191a;
$accent-dark: #242526;

// body
// #181818
// card
// #1d1d1d

// secondary
// #383838
