@use "@angular/material" as mat;

@import "./colors.scss";

$custom-palette: (
    50: lighten($wo-primary, 25%),
    100: lighten($wo-primary, 20%),
    200: lighten($wo-primary, 15%),
    300: lighten($wo-primary, 10%),
    400: lighten($wo-primary, 5%),
    500: $wo-primary,
    600: darken($wo-primary, 10%),
    700: darken($wo-primary, 15%),
    800: darken($wo-primary, 20%),
    900: darken($wo-primary, 25%),
    contrast: (
        50: $wo-text,
        100: $wo-text,
        200: $wo-text,
        300: $wo-text,
        400: $wo-text,
        500: $wo-text,
        600: $wo-text,
        700: $wo-text,
        800: $wo-text,
        900: $wo-text
    )
);

@include mat.core();

$wo-primary: mat.define-palette($custom-palette);
$wo-accent: mat.define-palette($custom-palette);
$wo-typography: mat.define-typography-config(
    $font-family: "inherit"
);
$wo-theme: mat.define-dark-theme(
    (
        color: (
            primary: $wo-primary,
            accent: $wo-accent,
            warn: $wo-primary
        ),
        typography: $wo-typography
    )
);

@include mat.core-theme($wo-theme);
@include mat.all-component-themes($wo-theme);
